.corpo {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(
    -20deg,
    #00fa9a,
    #00ff7f,
    #98fb98,
    #90ee90,
    #8fbc8f,
    #3cb371,
    #2e8b57,
    #006400,
    #008000,
    #228b22,
    #6b8e23
  );
  /* background: linear-gradient(-20deg, #7B68EE, #9370DB, #8A2BE2, #4B0082, #9400D3, #9932CC, #BA55D3, 	#A020F0, #8B008B, #EE82EE, #DA70D6, #DDA0DD); */
  background-size: 400% 400%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: gradient 20s ease-out infinite;
  font-family: Consolas, JetBrains Mono, Arial;
}

.painel_center {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  align-content: center;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.formulariologin {
  display: flex;
  background: #a9f0ba;
  border-radius: 10px;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  margin-top: 1em;
  width: 23em;
  height: 26em;
  border: #157c18;
  border-radius: 10px;
  border-style: solid;
  padding: 1em;
}

.container {
  padding: 0 2rem;
}

.main {
  min-height: 80vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  display: flex;
  flex: 0;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: bottom;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
